<section>
  <div class="container">
    <div class="img-container">
      <img class="title-image" src="../assets/images/umbrella.jpg">
      <div class="centered">
        <h1 class="has-text-centered heading-text">Buchen</h1>
      </div>
    </div>
  </div>
</section>

<hr>

<app-alert></app-alert>

<app-booking-modal #bookModal (bookingRequest)="submitTransaction($event)"></app-booking-modal>

<section class="hero is-transparent">
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-8bits"></ngx-spinner>
  <div class="hero-body">
    <div class="container">
      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="columns">
              <div class="column">
                <input class="input" [(ngModel)]="fromDate" type="date" placeholder="Von">
              </div>
              <div class="column">
                <input class="input" type="date" [(ngModel)]="toDate" placeholder="Bis">
              </div>
            </div>
          </div>
          <div class="column">
            <input class="input" type="text" placeholder="Location">
          </div>
          <div class="column">
            <button class="button-third" style="width: 100%" (click)="getAllOffers()">Angebote suchen</button>
          </div>
        </div>
        <div class="columns is-centered" *ngFor="let offer of allOffers">
          <app-booking-item [offer]="offer" [buttonText]="'Angebot buchen'" (confirmButton)="openBookModal($event)"></app-booking-item>
        </div>
      </div>
    </div>
  </div>
</section>
