<section class="hero is-medium booking-banner">
  <div class="hero-body">
    <div class="container">
      <h1 class="title offer-tile">
        Buchen
      </h1>
      <h2 class="subtitle">
        Buche deine unvergessliche Unterkunft sicher und einfach mittels Blockchain Technologie
      </h2>

      <div class="container">
        <div class="columns">
          <div class="column">
            <div class="columns">
              <div class="column">
                <input class="input" [(ngModel)]="fromDate" type="text" placeholder="Von">
              </div>
              <div class="column">
                <input class="input" type="text" [(ngModel)]="toDate" placeholder="Bis">
              </div>
            </div>
          </div>
          <div class="column">
            <input class="input" type="text" placeholder="Location">
          </div>
        </div>
        <div class="columns" *ngFor="let offer of allOffers">
          <div class="column">
            <div class="card">
              <div class="card-content">
                <div class="columns">
                  <div class="column is-one-fifth">
                    <figure class="image is-128x128">
                      <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                  </div>
                  <div ngclass="column">
                    <div class="user-col">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Beschreibung</th>
                            <th>Adresse</th>
                            <th>Mietdauer</th>
                            <th>Preis für die gesamte Mietdauer</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{offer?.description}}</td>
                            <td>{{offer?.address}}</td>
                            <td>{{offer.fromDate | date:'shortDate'}} / {{offer.toDate | date:'shortDate'}} </td>
                            <td>{{offer?.prize}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="columns">
                  <div class="column">
                    <a style="width: 100%" class="button" type="submit">Angebot buchen</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  <app-datepicker [locale]="locale" (emitSelectedDate)="setSelectedDate($event)" [canChangeNavMonthLogic]="canChangeMonthLogic"
                  [isAvailableLogic]="isAvailableLogic"></app-datepicker> -->
