<form class="form-signin" name="signInForm" #f="ngForm" (ngSubmit)="f.form.valid && login()" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailAddress.valid }">
    <label for="emailAddress">Email Adresse</label>
    <input type="text" class="input" [(ngModel)]="user.email" #emailAddress="ngModel" name="emailAddress" id="emailAddress" required>
    <div *ngIf="f.submitted && !emailAddress.valid" class="help-block">Email is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="password">Passwort</label>
    <input type="password" class="input" [(ngModel)]="user.password" #password="ngModel" name="password" id="password"
           required>
    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
  </div>
  <div class="form-group">
    <button class="button">Login</button>
  </div>
</form>
