@import url('https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Luckiest+Guy|Playfair+Display');
$font-playfair: 'Playfair Display',
serif;
$font-comfort: 'Comfortaa',
cursive;
$font-cinzel: 'Cinzel',
serif;
$font-luckyGuy: 'Luckiest Guy',
cursive;
$secondary-color: #FF0266;
$third-color: #0336FF;
$fourth-color: #FFDE03;
$navbar-background-color: $secondary-color;
