<div class="container is-fluid landing-page-container">
  <div class="columns is-3">
    <div class="column info-container">
     <h1 style="margin-top: 20px" class="has-text-centered">Unvergessliche Reisen beginnen mit</h1>
      <h1 class="has-text-centered brand-text">BookNBlock</h1>
      <p>
        Finde Abenteuer, übernachte in außergewöhlichen Unterkunkten und mache deine Reise zu einem Erlebnis.
        Buche deine Unterkunft sicher mit Hilfe von modernster Blockchain Technologie. Sichere Zahlung und garantierter Zutritt zu deiner unvergesslichen Unterkunft.
      </p>
      <div class="columns">
        <div class="column">
          <p class="short-text">
            Kein nerviger Schlüsselaustausch mehr.
          </p>
        </div>
        <div class="column">
          <p class="short-text">Öffne die Tür zu deiner Bleibe bequem und sicher mit deinem Smartphone.</p>
        </div>
      </div>


    </div>
    <div class="column image-container">
    </div>
  </div>
</div>
