

.headline-group {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  color: rgba(0, 150, 136, 1);;
}

.general-info-form {

  margin-right: .90rem;
  .form-container {
    margin: 15px;
  }
}

.address-form {
  margin-right: .90rem;
  .form-container {
    margin: 15px;
  }
}


