<section>
  <div class="container">
    <div class="img-container">
      <img class="title-image" src="../assets/images/pool.jpg">
      <div class="centered">
        <h1 class="has-text-centered heading-text">Anbieten</h1>
      </div>
    </div>
  </div>
</section>

<hr>

<app-alert></app-alert>

<section>
  <div class="container">
    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-8bits"></ngx-spinner>
    <div class="columns">
      <div class="column general-info-form">
        <div class="form-container">
          <form [formGroup]="offerForm">
            <div class="form-group">
              <label>Titel</label>
              <input class="input" type="text" formControlName="title">
              <div *ngIf="offerForm.controls['title'].errors && !offerForm.controls['title'].pristine" class="error-msg">
                <div [hidden]="!offerForm.controls['title'].errors.required">Bitte geben einen Titel für dein Angebot an
                </div>
              </div>
            </div>

            <div class="form-group">
              <label>Beschreibung</label>
              <textarea class="textarea" placeholder="Füge eine Beschreibung ein..." rows="10" formControlName="description"></textarea>
            </div>

            <div class="form-group">
              <label>Von</label>
              <input type="date" class="input" formControlName="date">
            </div>

            <div class="form-group">
              <label>Bis</label>
              <input type="date" class="input" formControlName="toDate">
            </div>

            <div class="form-group">
              <label>Preis für die Mietdauer</label>
              <input class="input" type="number" formControlName="prize">
            </div>
          </form>
        </div>
      </div>
      <div class="column address-form">
        <div class="form-container">
          <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label>Adresse der Tür</label>
              <input id="doorId" class="input" type="text" formControlName="doorId">
            </div>
            <div class="form-group">
              <label>Dein Name</label>
              <input id="name" class="input" type="text" formControlName="nameLandlord">
            </div>
            <div class="form-group">
              <label>Straße</label>
              <input class="input" type="text" formControlName="street">
              <div *ngIf="offerForm.controls['street'].errors && !offerForm.controls['street'].pristine" class="error-msg">
                <div [hidden]="!offerForm.controls['street'].errors.required">Bitte geben Sie die Adresse ein
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Hausnummer</label>
              <input class="input" type="text" formControlName="number">
              <div *ngIf="offerForm.controls['number'].errors && !offerForm.controls['number'].pristine" class="error-msg">
                <div [hidden]="!offerForm.controls['number'].errors.required">Bitte geben Sie die Hausnummer ein
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Stadt</label>
              <input class="input" type="text" formControlName="city">
            </div>
            <div class="form-group">
              <label>Postleitzahl</label>
              <input type="number" class="input" formControlName="zip">
            </div>

            <div style="margin-bottom: 1em">
              <button class="button is-prim" style="width: 100%" type="submit">Angebot speichern</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
