/* You can add global styles to this file, and also import other style files */

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "assets/scss/varriables";
@import "~bulma";
@font-face {
  font-family: "booknblock1";
  src: url("assets/fonts/booknblock1.eot");
  src: url("assets/fonts/booknblock1.eot?#iefix") format("embedded-opentype"), url("assets/fonts/booknblock1.woff") format("woff"), url("assets/fonts/booknblock1.ttf") format("truetype"), url("assets/fonts/booknblock1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

h1 {
  font-family: $font-playfair;
  font-size: 50px;
  color: #444444;
}

body {
  min-height: 100%;
}

html,
body * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

input {
  padding: 15px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  color: #444444;
  display: block;
}

button,
input :focus {
  outline: none;
}

.button {
  height: 50px;
  outline: none;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFFFF;
  background-color: $secondary-color;
  border-color: transparent;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  &:active {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
  &:hover {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
  &:focus {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
}

.button-third {
  outline: none;
  padding: 10px;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #FFFFFF;
  background-color: $third-color;
  border-color: transparent;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
  &:active {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
  &:hover {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
  &:focus {
    outline: none;
    border-color: transparent;
    top: 0.1em;
    color: #FFFFFF;
  }
}

@media all and (max-width:30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}

[data-icon]:before {
  font-family: "booknblock1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "booknblock1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-key:before {
  content: "\61";
  font-size: 46px;
}

.icon-iphone-streamline:before {
  content: "\62";
  font-size: 46px;
}

.icon-user:before {
  content: "\64";
}

a:hover,
.nav-item:hover {
  text-decoration: none;
}

.brand-text {
  font: bolder 100px 'Alfa Slab One';
  text-align: center;
  /* For IE8 and earlier */
  background: url(/assets/images/hintergrund1.jpg) center;
  background-size: contain;
  margin: auto;
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
}

.heading-text {
  font: bolder 90px 'Alfa Slab One';
  text-align: center;
  /* For IE8 and earlier */
  background: url(/assets/images/hintergrund1.jpg) center;
  background-size: contain;
  margin: auto;
  background-clip: unset;
  -webkit-background-clip: text;
  color: transparent;
}

.img-container {
  width: 100%;
  margin: 50px auto;
  line-height: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-image {
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 300px;
  opacity: .3;
  object-fit: cover;
}

.landing-page-image {
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 600px;
  opacity: .5;
  object-fit: cover;
}

app-login,
app-home,
app-booking,
app-offer,
app-user {
  width: 100%;
}
