<div class="column">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column is-one-fifth">
          <figure class="image is-128x128">
            <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
        </div>
        <div ngclass="column">
          <div class="user-col">
            <table class="table">
              <thead>
                <tr>
                  <th>Beschreibung</th>
                  <th>Adresse</th>
                  <th>Mietdauer</th>
                  <th>Preis für die gesamte Mietdauer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{offer?.description}}</td>
                  <td>{{offer?.address}}</td>
                  <td>{{offer.fromDate | date:'dd.MM.yyyy'}} / {{offer.toDate | date:'dd.MM.yyyy'}} </td>
                  <td>{{offer?.prize}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <a style="width: 100%" class="button" type="submit" (click)="clickOnButton(offer)">{{buttonText}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
