<div *ngIf="offer" class="column">
  <div class="card">
    <div class="card-image">
      <div class="offer-img-container">
        <img class="offer-img" src="../../../../assets/images/room.jpg" alt="Placeholder image">
      </div>
    </div>
    <div class="card-content">
      <div class="columns">
        <div class="column">
          <div class="user-col">
            <h2>{{offer.title}}</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Beschreibung</th>
                  <th>Adresse</th>
                  <th>Mietdauer</th>
                  <th>Preis für die gesamte Mietdauer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{offer.description}}</td>
                  <td>{{offer.address}}</td>
                  <ng-container *ngIf="booking?.checkIn && booking?.checkOut; else offerBlock">
                      <td>{{booking.checkIn | date:'dd.MM.yyyy'}} / {{booking.checkOut | date:'dd.MM.yyyy'}} </td>
                  </ng-container>
                  <ng-template #offerBlock>
                    <td>{{offer.fromDate | date:'dd.MM.yyyy'}} / {{offer.toDate | date:'dd.MM.yyyy'}} </td>
                  </ng-template>
                  <td>{{offer.prize}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <button class="button is-prim" style="width: 100%" type="submit" (click)="clickOnButton()">{{buttonText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
